@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-color: theme("colors.secondary.800");
  scrollbar-color: theme("colors.secondary.700") theme("colors.secondary.900");
  scrollbar-width: thin;
  --scrollbar-size: 8px;
}

*:focus-visible {
  @apply outline-none ring-2 ring-primary-500 ring-offset-2 ring-offset-secondary-900;
}

*::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}
*::-webkit-scrollbar-track {
  @apply rounded bg-transparent;
}
*::-webkit-scrollbar-thumb {
  @apply rounded bg-secondary-700;
}

.thin-scroll {
  scrollbar-color: theme("colors.secondary.700") transparent;
}
.thin-scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.thin-scroll::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.thin-scroll::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-secondary-700;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: theme("colors.secondary.900");
}

#root {
  @apply select-none font-poppins text-medium;
}

/* hack to remove autofill background color in chrome */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
